--- 
layout: default
---

<div id="blog">
  <div id="posts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">

          {% for post in site.posts %} {% assign author = site.data.authors[post.author] %} {% assign author2 = site.data.authors[post.author2]
          %}

          <article class="post">
            {% if post.image %}
            <div class="cover" style="background-image: url('{{ post.image }}')"></div>
            {% endif %}
            <h2>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="author">
              <div>
                {% if author.gravatar %}
                <img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=50&d={{"/assets/images/user.svg " | absolute_url }}" class="avatar" alt="author" />
                {% else %}
                <img src="{{"/assets/images/user.svg " | relative_url }}" class="avatar" alt="author" />
                {% endif %}

                {% if author2 %}
                  {% if author2.gravatar %}
                  <img src="//www.gravatar.com/avatar/{{ author2.gravatar }}?s=50&d={{"/assets/images/user.svg " | absolute_url }}" class="avatar" alt="author" />
                  {% else %}
                  <img src="{{"/assets/images/user.svg " | relative_url }}" class="avatar" alt="author" />
                  {% endif %}
                {% endif %}
              </div>

              <span class="author-name">{{ author.name }}{% if author2 %} and {{ author2.name }} {% endif %}</span>
              <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>

              {% if post.categories %}
              <span class="categories">
                {% for category in post.categories %}
                <span>{{ category | capitalize }}</span>
                {% endfor %}
              </span>
              {% endif %}
            </div>
            <div class="intro">
              {{ post.excerpt }}
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 mb-3 mb-sm-0 text-center continue-reading">
                <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
              </div>
              <div class="col-12 col-sm-6 share-post">
                {% include share-page.html page=post %}
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
        <div class="col-12 col-lg-3 sidebar">
          <div class="updates">
            <h4>Blog updates </h4>
            <p>
              Never miss an update. Subscribe to our feed or follow us on social media and get notified whenever we post something in the
              blog.
            </p>
              <a class="btn btn-primary full-width btn-sm" href="{{ " /feed.xml " | prepend: site.baseurl }}">
                <i class="fa fa-rss"></i>
                Subscribe
              </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>