[build]
  command = "bundle exec jekyll build"
  publish = "_site"
[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'self'; script-src 'self' https://www.google-analytics.com https://www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data:; font-src 'self' data: https://fonts.gstatic.com; object-src 'none'; frame-ancestors 'self' https://app.netlify.com; base-uri 'self'; form-action 'self' https://kumuluz.us12.list-manage.com; connect-src 'self' https://www.google-analytics.com https://stats.g.doubleclick.net"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains;"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
