.navbar {
  height: 70px;
  background: $white;

  img {
    height: 35px;
  }
}

.breadcrumbs {
  height: 50px;
  background: $blue-400;
  display: flex;
  justify-content: center;
  align-items: center;

  .breadcrumb {
    background: none;
    margin-bottom: 0;
    padding: 0;

    .breadcrumb-item {
      color: $white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1rem;

      &.active {
        color: $blue-100;
        text-transform: none;
      }
    }
    .breadcrumb-item + .breadcrumb-item::before {
      content: '\f054';
      color: $blue-100;
      font-family: 'FontAwesome';
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}


#to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10000;
}