.post {
  margin-top: 4rem;

  .cover {
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 360px;
    height: 360px;
    margin-bottom: 2rem;
  }

  h2 {
    margin: 0 0 1rem 0;

    a {
      color: $black !important;
      text-decoration: none !important;
    }
  }

  .author {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 576px) {
      flex-direction: row;
    }

    .avatar {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .author-name,
    .date {
      font-size: 1.125rem;
      font-weight: 500;
      display: flex;
      align-items: center;

      @media (min-width: 576px) {
        &:after {
          content: '|';
          font-weight: 200;
          margin: auto 0.5rem;
        }
      }
    }

    .date {
      font-weight: 400;
    }
  }
  .tags {
    text-align: center;

    @media (min-width: 576px) {
      text-align: left;
    }
  }

  .intro,
  .content {
    margin: 1.5rem 0;
    text-align: justify;

    img {
      max-width: 100%;
    }

    ul {
      list-style-type: square;
      padding-left: 1.5rem;

      li {
        font-family: $open-sans;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }
  }

  &:after {
    content: '';
    margin: 4rem 0;
    width: 100%;
    display: block;
    height: 4px;
    background: $grey-100;
  }
}

.post-author {
  width: 100%;

  img {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
  }

  &:after {
    content: '';
    margin-top: 4rem;
    width: 100%;
    display: block;
    height: 4px;
    background: $grey-100;
  }

  a {
    color: $blue-100;
    font-weight: 800;
    border-bottom: 4px solid $blue-300;
    text-decoration: none !important;
  }
}

.share-page {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: $grey-100;
  margin-top: 2rem;

  h4 {
    color: $grey-500;
  }
  a {
    text-decoration: none !important;
  }
}

#blog {
  .share-buttons {
    text-align: center;
    a {
      text-decoration: none !important;
    }
  }
  @media (min-width: 576px) {
    .share-buttons {
      text-align: right;
    }
    .continue-reading {
      text-align: left !important;
    }
  }
}

.other-posts {
  margin-top: 4rem;
  h5 {
    color: $grey-500;
  }

  a {
    color: $black;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;

    &.prev i {
      margin-right: 1rem;
    }
    &.next i {
      margin-left: 1rem;
    }

    .categories {
      font-size: 1.25rem;
      color: $blue-400;
      font-weight: 400;
    }
  }
}

#disqus_thread {
  width: 100%;
  padding: 1rem 2rem;
  background: $grey-100;
}

.categories span {
  &:last-child:after {
    content: '';
  }
  &:after {
    content: ',';
  }
}

.sidebar {
  margin-top: 4rem;

  .updates {
    padding: 1.5rem;
    background: linear-gradient(to right, $blue-300, $blue-400);
    color: $white;

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    h4 {
      color: $blue-100;
    }
  }
}
