<div class="footer">
  <div class="arrow"></div>
  <div class="darkSection">
    <div class="social">
      <h4 class="position-relative text-center">Follow us on social media</h4>
      <div class="social-icons">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/skype.svg " | prepend: site.baseurl }}">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/facebook.svg " | prepend: site.baseurl }}">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/linkedin.svg " | prepend: site.baseurl }}">
        </a>
        <a href="https://twitter.com/kumuluz" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/twitter.svg " | prepend: site.baseurl }}">
        </a>
      </div>
    </div>
  </div>
  <div class="reverse-arrow"></div>
  <div class="content">
    <div class="container">
      <div class="row"></div>
      <div class="links row">
        <div class="col-6 col-md-4 col-lg">
          <div class="title">Related products</div>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
              kumuluz<span class="font-weight-bold colorDigital">Digital</span>
            </div>
          </a>
          <a href="https://ee.kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
              kumuluz<span class="font-weight-bold colorEE">EE</span>
            </div>
          </a>          
        </div>
        
      </div>
      <div class="row">
        <div class="col">
          <div class="line"></div>
          <p class="copyright">© <a href="https://www.sunesis.si">Sunesis</a>, All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>