<div class="footer">
  <div class="arrow"></div>
  <div class="darkSection">
    <div class="social">
      <h4 class="position-relative text-center">Follow us on social media</h4>
      <div class="social-icons">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/skype.svg " | prepend: site.baseurl }}">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/facebook.svg " | prepend: site.baseurl }}">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/linkedin.svg " | prepend: site.baseurl }}">
        </a>
        <a href="https://twitter.com/kumuluz" target="_blank" rel="noopener noreferrer">
          <img src="{{ " /assets/images/social/twitter.svg " | prepend: site.baseurl }}">
        </a>
      </div>
    </div>
  </div>
  <div class="reverse-arrow"></div>
  <div class="content">
    <div class="container">
      <div class="row"></div>
      <div class="links row">
        <div class="col-6 col-md-4 col-lg">
          <div class="title">Products</div>
          <a href="https://ee.kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
              kumuluz<span class="font-weight-bold colorEE">EE</span>
            </div>
          </a>
          <a href="https://api.kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
              kumuluz<span class="font-weight-bold colorAPI">API</span>
            </div>
          </a>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
              kumuluz<span class="font-weight-bold colorIntegration">Integration</span>
            </div>
          </a>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
                kumuluz<span class="font-weight-bold colorDevOps">DevOps</span>
            </div>
          </a>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
                kumuluz<span class="font-weight-bold colorUX">Ux</span>
            </div>
          </a>
          <a href="https://ccm.kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
                kumuluz<span class="font-weight-bold colorCCM">CCM</span>
            </div>
          </a>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
                kumuluz<span class="font-weight-bold colorMarketplace">Marketplace</span>
            </div>
          </a>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
                kumuluz<span class="font-weight-bold colorPayment">PaymentAPI</span>
            </div>
          </a>
          <a href="https://kumuluz.com/" target="_blank" rel="noopener noreferrer">
            <div>
                kumuluz<span class="font-weight-bold colorCrowdsensing">Crowdsensing</span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg">
          <div class="title">Services</div>
          <div>Digital applications</div>
          <div>Software modernization</div>
          <div>Transition to the cloud</div>
          <div>Agile development</div>
          <div>Application integration</div>
          <div>Business Process Management</div>
          <div>Mentoring &amp; Training</div>
        </div>
        <div class="col-6 col-md-4 col-lg">
          <div class="title">Industries</div>
          <div>Automotive</div>
          <div>Financial services</div>
          <div>Oil and Gas</div>
          <div>Insurance</div>
          <div>Government</div>
          <div>Media</div>
          <div>Retail</div>
          <div>Telco</div>
        </div>
        <div class="col-6 col-md-4 col-lg">
          <div class="title">Community</div>
          <div>Blog</div>
          <div>Developers</div>
          <div>Integration Partners</div>
          <div>Customers</div>
          <div>Social Media</div>
        </div>
        <div class="col-6 col-md-4 col-lg">
          <div class="title">Company</div>
          <div>About us</div>
          <div>Team</div>
          <div>Rewards</div>
          <div>News</div>
          <div>Careers</div>
          <div>Legal</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="line"></div>
          <p class="copyright">© Sunesis, All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>