<div class="subscribe-section">
  <div class="container">
    <div class="row">
      <div class="my-5 pt-4 text-center col">
        <h3 class="mb-4">Subscribe to our mailing list</h3>
        <p class="mx-auto max-text">Subscribe to our mailing list to get the latest news and updates.</p>
        <form class="my-5 max-text full-width mx-auto form-inline">
          <div class="mr-3 expand mb-0 form-group">
            <input type="email" name="email" id="exampleEmail" placeholder="Your e-mail" class="form-control">
          </div>
          <button class="mx-auto btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="social d-block d-md-flex text-center">
          <i class="m-2 my-md-0 mx-md-5 fa fa-telegram fa-3x"></i>
          <i class="m-2 my-md-0 mx-md-5 fa fa-facebook fa-3x"></i>
          <i class="m-2 my-md-0 mx-md-5 fa fa-twitter fa-3x"></i>
          <i class="m-2 my-md-0 mx-md-5 fa fa-linkedin fa-3x"></i>
          <i class="m-2 my-md-0 mx-md-5 fa fa-github fa-3x"></i>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="links d-md-block d-flex flex-column">
          <a href="">ino@kumuluz.com</a>
          <a class="highligh" href="">Whitepaper</a>
          <a href="">Privacy</a>
          <a href="">Terms of Service</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="my-5 text-center copyright">Copyright 2018 Kumuluz. All rights reserved.</p>
      </div>
    </div>


  </div>
</div>