<nav class="navbar navbar-light">
  <div class="container">
    <a href="{{ site.home_url }}/" class="navbar-brand">
      <img alt="" src="{{ " /assets/images/logo.svg " | prepend: site.baseurl }}" />
    </a>
  </div>
</nav>

<div class="banner simplified p-3 p-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-12 xl-8">
        <h1>Blog</h1>
      </div>
    </div>
  </div>
</div>

<div class="sub-nav">
  <div class="container">
    <ul>
      <li>
        <a class="{% if '/' == page.url %}active{% endif %}" href="/">Vse</a>
      </li>
      <li>
        <a class="{% if '/category/api.html' == page.url %}active{% endif %}" href="/category/api.html">API</a>
      </li>
      <li>
        <a class="{% if '/category/integration.html' == page.url %}active{% endif %}" href="/category/integration.html">Integration</a>
      </li>
      <li>
        <a class="{% if '/category/crowdsensing.html' == page.url %}active{% endif %}" href="/category/crowdsensing.html">Crowdsensing</a>
      </li>
    </ul>
  </div>
</div>

<button type="button" class="btn btn-primary btn-fab" id="to-top">
  <i class="fa fa-chevron-up"></i>
</button>
