<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@{{ site.twitter_username }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:creator" content="{% if page.author %}@{{ site.data.authors[page.author].twitter }}{% else %}@{{ site.twitter_username }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}/assets/images/favicons/favicon-194x194.png">

	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:image" content="{{ site.url }}/assets/images/favicons/favicon-194x194.png">
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:site_name" content="Kumuluz Blog">
	<meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_username }}">

	<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta itemprop="image" content="{{ site.url }}/assets/images/favicons/favicon-194x194.png">

  <link rel="apple-touch-icon" sizes="48x48" href="{{ site.baseurl }}/assets/images/favicons/favicon-48x48.svg">
	<link rel="apple-touch-icon" sizes="64x64" href="{{ site.baseurl }}/assets/images/favicons/favicon-64x64.svg">
	<link rel="apple-touch-icon" sizes="150x150" href="{{ site.baseurl }}/assets/images/favicons/favicon-150x150.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicons/favicon-180x180.svg">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicons/favicon-32x32.svg" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicons/favicon-192x192.svg" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicons/favicon-16x16.svg" sizes="16x16">
	<link rel="manifest" href="{{ site.baseurl }}/assets/images/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicons/favicon-150x150.svg">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</head>
