<header class="navbar navbar-inverse normal" role="banner">
  <div class="container">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ site.baseurl }}/" class="navbar-brand">
          <img alt="" src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" />
        </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right visible-md visible-lg">
          {% for page in site.pages %}
            {% if page.title %}
              <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>
  </div>
</header>