<ul class="share-buttons">
	<li>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ include.page.url }}" title="Share on Facebook" target="_blank">
			<i class="social-button fa fa-facebook fa-lg"></i>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ include.page.url }}&text={{ include.page.title }}&url={{ site.url }}{{ include.page.url }}" target="_blank" title="Tweet">
			<i class="social-button fa fa-twitter fa-lg"></i>
		</a>
	</li>
	<li>
		<a href="https://plus.google.com/share?url={{ site.url }}{{ include.page.url }}" target="_blank" title="Share on Google+">
			<i class="social-button fa fa-google-plus fa-lg"></i>
		</a>
	</li>
	<li>
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ include.page.url }}&source={{ site.url }}{{ include.page.url }}" target="_blank" title="Share on LinkedIn">
			<i class="social-button fa fa-linkedin fa-lg"></i>
		</a>
	</li>
	<li>
		<a href="http://www.reddit.com/submit?url={{ site.url }}{{ include.page.url }}&title={{ include.page.title }}" target="_blank" title="Submit to Reddit">
			<i class="social-button fa fa-reddit fa-lg"></i>
		</a>
	</li>
</ul>