<div class="updates">
    <h4>Posodobitve bloga </h4>
    <p>
      Nikoli ne zamudite nove objave. Naročite se na naš vir ali nas spremljajte na družbenih omrežjih in prejemajte obvestila.
    </p>
      <a class="btn btn-primary full-width btn-sm" href="{{ " /feed.xml " | prepend: site.baseurl }}">
        <i class="fa fa-rss"></i>
        Naročite se
      </a>
  </div>

  <div class="recommended mt-5">
    <h3>Top objave</h3>
    {% assign announcement = site.categories.Announcement.first %}
    {% if announcement %}
    <h6>Big announcements</h6>
    <h4><a href="{{ announcement.url | prepend: site.baseurl }}">{{announcement.title}}</a></h4>
    <hr/>
    {% endif %}
    
    {% assign productPost = site.categories.Product.first %}
    {% if productPost %}
    <h6>Product</h6>
    <h4><a href="{{ productPost.url | prepend: site.baseurl }}">{{productPost.title}}</a></h4>
    <hr/>
    {% endif %}

    {% assign devPost = site.categories.Developers.first %}
    {% if devPost %}
    <h6>For Developers</h6>
    <h4><a href="{{ devPost.url | prepend: site.baseurl }}">{{devPost.title}}</a></h4>
    <hr/>
    {% endif %}

    {% assign newsPost = site.categories.News.first %}
    {% if newsPost %}
    <h6>News and Media</h6>
    <h4><a href="{{ newsPost.url | prepend: site.baseurl }}">{{newsPost.title}}</a></h4>
    <hr/>
    {% endif %}

    {% assign communityPost = site.categories.Community.first %}
    {% if communityPost %}
    <h6>Community</h6>
    <h4><a href="{{ communityPost.url | prepend: site.baseurl }}">{{communityPost.title}}</a></h4>
    <hr/>
    {% endif %}
  </div>
