$blue-100: #98cdff;
$blue-300: #1d8ceb;
$blue-400: #155bfb;
$blue-700: #24368a;
$blue-900: #24368a;
$blue-1000: #1f2b66;

$grey-100: #e0e0e0;
$grey-200: #cfcfcf;
$grey-300: #bdbdbd;
$grey-500: #485371;

$white: #fff;
$black: #000;

$shadow-color: rgba(36, 54, 138, 0.2);
$box-shadow: 0px 7px 20px $shadow-color;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
$open-sans: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin-ext');
$fjalla-one: 'Fjalla One', sans-serif;

$linkedin: #1b9dff;

// Bootstrap
$primary: $blue-400;
$secondary: $white;
$info: $grey-300;
$enable-rounded: false;
$font-family-sans-serif: $open-sans;
$border-width: 2px;
$input-placeholder-color: $grey-200;
