/* roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
/* source sans pro */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/* lato */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* merriweather */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);

$roboto: "Roboto";
$lato: 'Lato', 'Helvetica Neue', Arial;
$helvetica: "Helvetica Neue", Helvetica, Arial;
$myriad: Myriad Pro, Lato, Helvetica Neue, Arial;
$sourceSans: Source Sans Pro, Helvetica Neue, Arial;
$merriweather: "Merriweather", Georgia;

$spacing-unit: 30px;

$gray-lighter: #eee;

/* Theme variables */
$blue-100: #5dc2ef;
$blue-200: #367dbf;
$blue-300: #254a99;
$blue-400: #2b2b6f;
$blue-gradient: linear-gradient(to right, $blue-300, $blue-400);
$blue-light-gradient: linear-gradient(to right, $blue-100, $blue-200);

$red: #ec6b6b;
$red-gradient: linear-gradient(to right, $red, #ce5050);

$ee: #5ec1ee;
$integration: #8bc34a;
$ux: #eed25d;
$marketplace: #ee5e7a;
$payment: #7ecbbf;
$api: #ee875c;
$devops: #a7b4ba;
$ccm: #c2d961;
$crowdsensing: #a969aa;

$white: #fff;
$black: #333;
$grey: #e6e7e8;
$grey-100: #f4f5f5;
$grey-700: #bcbec0;

@import url('https://fonts.googleapis.com/css?family=Rubik:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

$font-rubik: 'Rubik', sans-serif;
$font-asap: 'Asap', sans-serif;

/* Bootstrap overrides */
$primary: $red;
$info: $blue-100;
$enable-rounded: false;