body {
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $rubik;
  text-transform: uppercase;
  color: $grey-500;
}

p,
li {
  font-family: $open-sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  color: $grey-500;
}

ul,
ol {
  padding-left: 20px;
}

p b,
li b {
  font-weight: 800;
}

.btn-fab {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 500;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  &:hover {
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

/* Overrides */
.btn {
  text-transform: uppercase;
}

ul.share-buttons {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

/* Util */
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.clickable {
  cursor: pointer;
}

.bg-blue-700 {
  background: $blue-700;
}

.youtube-video {
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.social-button {
  height: 38px;
  width: 38px;
  color: $white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;

  &.fa-facebook {
    background: #3c5b99;
  }
  &.fa-twitter {
    background: #00aced;
  }
  &.fa-google-plus {
    background: #dc4b38;
  }
  &.fa-linkedin {
    background: #007bb6;
  }
  &.fa-reddit {
    background: #ff4500;
  }
}
