---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div id="blogpost">
	<div id="blogpost-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 post">
					<div class="title">
						{{ page.title }}
					</div>
					<div class="author">
						<img src="//www.gravatar.com/avatar/{{ author.gravatar }}" class="avatar" alt="author" />
						By {{ author.name }}, {{ page.date | date: "%b %-d, %Y" }}
					</div>
					<article class="content">
						{{ content }}
					</article>
					<div class="share">
						
					</div>
					<div class="other-posts">
						{% if page.previous.url %} 
							<a href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
								← {{page.previous.title}}
							</a>
						{% endif %}
						{% if page.next.url %} 
							<a href="{{ page.next.url | prepend: site.baseurl }}" class="next pull-right">
								{{page.next.title}} →
							</a>
						{% endif %}
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>