---
layout: default
---
{% assign author = site.data.authors[page.author] %}
{% assign author2 = site.data.authors[page.author2] %}

<div id="blogpost">
	<div id="blogpost-wrapper">
		<div class="container">
				<div class="post">
					<img class="img-fluid mb-5" src="{{ page.image }}" />
					<h2>
						{{ page.title }}
					</h2>
					<div class="author">
						{% if author.gravatar %}
						<img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=50&d={{"/assets/images/user.svg " | absolute_url }}" class="avatar" alt="author" />
						{% else %}
						<img src="{{"/assets/images/user.svg " | relative_url }}" class="avatar" alt="author" />
						{% endif %}
			
						<span class="author-name">{{ author.name }}{% if author2 %} and {{ author2.name }} {% endif %}</span>
						<span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
			  

						{% if page.categories %}
							<span class="categories">
								{% for category in page.categories %}
									<span>{{ category | capitalize }}</span>
								{% endfor %}
							</span>
						{% endif %}
						<span class="tags ml-3">
							{% for tag in page.tags %}
								<span class="badge badge-pill badge-primary">{{ tag }}</span>
							{% endfor %}
						</span>
					</div>
					<article class="content">
						{{ content }}
					</article>
				</div>
				<div class="post-author p-3">
					<div class="d-flex align-items-center">
						<div class="pr-5">
							{% if author2 %}
							<img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=512&d={{"/assets/images/user.svg " | absolute_url }}" class="img-fluid dual" alt="author" />
							<img src="//www.gravatar.com/avatar/{{ author2.gravatar }}?s=512&d={{"/assets/images/user.svg " | absolute_url }}" class="img-fluid dual" alt="author" />
							{% else %}
								{% if author.gravatar %}
								<img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=512&d={{"/assets/images/user.svg " | absolute_url }}" class="img-fluid" alt="author" />
								{% else %}
								<img src="{{"/assets/images/user.svg " | relative_url }}" class="img-fluid" alt="author" />
								{% endif %}
							{% endif %}
						</div>
						<div>
							<h4>Written by <a href="https://github.com/{{author.github}}">{{author.name}}</a></h4>
							{% if author.about %}
							<p class="my-3">{{author.about}}</p>
							{% endif %}

							{% if author2 %}
								<h4>and by <a href="https://github.com/{{author2.github}}">{{author2.name}}</a></h4>
								{% if author2.about %}
								<p class="my-3">{{author2.about}}</p>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>

				<div class="share-page">
					<h4 class="mb-3">Share page or discuss:</h4>
					{% include share-page.html page=page %}
				</div>

				
				<div id="disqus_thread"></div>
				<script>
				(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://test-kumuluz-blog.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				


				<div class="other-posts">
					<h5>RELATED ARTICLES</h5>
					<div class="d-flex justify-content-between mb-3 mb-5">
						{% if page.previous.url %}
						<a href="{{ page.previous.url | prepend: site.baseurl }}" class="prev d-flex align-items-center">
							<i class="fa fa-chevron-left"></i>
							<div>
								{% if page.previous.categories %}
								<div class="categories">
									{% for category in page.previous.categories %}
									<span>{{ category | capitalize }}</span>
									{% endfor %}
								</div>
								{% endif %}
								<div>
									{{page.previous.title}}
								</div>
							</div>
						</a>						
						{% endif %}
						{% if page.next.url %}
						<a href="{{ page.next.url | prepend: site.baseurl }}" class="next d-flex align-items-center">
							<div>
								{% if page.next.categories %}
								<div class="categories">
									{% for category in page.next.categories %}
									<span>{{ category | capitalize }}</span>
									{% endfor %}
								</div>
								{% endif %}
								<div>
									{{page.next.title}}
								</div>
							</div>
							<i class="fa fa-chevron-right"></i>
						</a>
						{% endif %}
					</div>
				</div>					
				

		</div>
	</div>
</div>
